strongerGreen = #0b860b
strongGreen = #0ca90c
lightGreen = #4bdd4b
lighterGreen = #74ed74
baseUrl = '/imgs/'

*
    word-wrap: break-word
    box-sizing: border-box
    color: #444444

button, .button-like
    background-color: lightGreen
    border: 1px solid strongGreen
    color: white
    border-radius: 10px
    padding: 10px
    margin: 1%
    box-sizing: border-box
    cursor: pointer

    &:hover
        background-color: lighterGreen
        border: 1px solid lightGreen
        text-decoration: none
        color: white

    &:active
        background-color: strongerGreen
        border: 1px solid strongGreen

    &:disabled
        background-color: lighterGreen
        border: 1px solid lightGreen
        cursor: default

.no-margin
    margin: 0

.spacer
    height: 200px
    width: 100%

.top-spacer
    height:20px
    width: 100%

.spacer-30
    height: 30vh
    width: 100%

.spacer-20
    height: 20vh
    width: 100%

.navbar
    box-shadow: 0 0 20px -5px grey

.tree-container
    padding: 30px
    margin-top: 0.5%
    box-shadow: 0 0 10px -2px #808080
    margin-left: 0.5%
    border-radius: 15px
    height: 100%

.tree-image
    width: 100%

.wide-button
    width: 48%

.full-button
    width: 98%

.hidden
    display: none

.margin-auto-and-top
    margin: 40px auto 5px auto

.margin-auto
    margin: auto

.check-rewards-button
    margin-top: 1.5%

.word-wrap
    word-wrap: break-word

.col-6
    -webkit-box-flex: 0
    -ms-flex: 0 0 49%
    flex: 0 0 49%
    max-width: 49%

.color-green
    color: rgb(4, 200, 13)

.color-blue
    color: blue

.color-red
    color: #e9310e

.color-yellow
    color: #ff9d00

.initial-top-container
    height: calc(100vh - 56px)

.background-trees
    background-image: url(baseUrl + 'background-trees.png')
    background-position: center
    background-size: cover

.initial-half-container
    height: 50vh

.background-grey
    background-color: whitesmoke

@media (min-width: 576px)
    .col-sm-4
        -ms-flex: 0 0 32.8333333%
        flex: 0 0 32.8333333%
        max-width: 32.8333333%
