.navbar
    box-shadow: 0 0 20px -5px grey

.tree-container
    padding: 30px
    margin-top: 20px
    box-shadow: 0 0 5px 0 grey
    margin-left: 0.5%

.tree-image
    width: 100%

.wide-button
    width: 50%

.col-6
    -webkit-box-flex: 0
    -ms-flex: 0 0 49%
    flex: 0 0 49%
    max-width: 49%

@media (min-width: 576px)
    .col-sm-4
        -ms-flex: 0 0 32.8333333%
        flex: 0 0 32.8333333%
        max-width: 32.8333333%
